#principal{
	width: 40%;
	height: auto; 
	overflow: hidden;
	border: 0px solid #000;
	margin: auto;
	font-family: Monaco,Georgia,Times,serif;
}
a {
	text-decoration: none;
	color: #990000;
}
a:hover{
	color: #000000;
	text-decoration: underline;
}

header{
	width: 100%;
	height: 100px;
	border: 0px solid #000;
}

#logo{
	width: 200px;
	height: 100px;
	border: 0px solid #000;
	float: left; font-family: sans-serif;
}

.menu{
	width: 370px;
	height: 45px;
	border: 2px solid #000000;
	float: right;
	margin-top: 15px;
	background: #990000;
	padding-bottom: 5px;
}

.menu ul li{
	list-style: none;
	float: left;	
}

.menu ul li a{
	text-decoration: none;
	padding: 10px;
	border: 0px solid #ccc;
	color: #fff; 
}

.menu ul li a:hover{
	background: #fff;
	color: #990000;
}

#banner{
	margin-top: -5px;
	width: 100%;
	height: 250px;
}
.imagen-noticias {
	display:block;
	margin:auto;
}

#titulos{
	text-align: center;
	font-size: 30px;
}

.columnas{
	width: 280px;
	height: auto; 
	overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	text-align: center;
	color: #4682b4;
}

.parrafo{
	color: #707070;
	text-align: justify;
}
.separacion{
	margin-left: 12px;
	margin-right: 12px;
}

.leer-mas{
	text-decoration: none;
	border: 1px solid #990000;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
}

.leer-mas:hover{
	background: #990000;
	color: #fff;
}

.img{
	margin-right: 7px;
	margin-bottom: 7px;
}

footer{
	width: 100%;
	height: 100px;
	
}

#url-footer{
	margin-top: 30px;
	float: left;
}

/*-------------------Twitter-------------------- */
.twitter {
	display: block; 
	max-width: 550px; 
	width: 100%; 
	margin-top: 10px; 
	margin-bottom: 10px;
	margin: auto;
}
.twitter iframe {
	position: static; 
	visibility: visible; 
	width: 550px; 
	height: 640px; 
	display: block; 
	flex-grow: 1;
}
/* --------------Apartado noticias/Trailers-----------------  */
.linea-separacion {
	border-bottom:dotted 1px grey;
	width:100%;
}
.nov_main {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 10px;
	display: table;
	text-decoration: none; 
}
.nov_main h3 {
	font-size: 16px;
	color: #990000;
	margin-bottom: 2px;
	line-height: 20px;
	font-weight: bold;
}
.nov_main h3:hover {
	color: #000000;
	text-decoration: underline;
}
.nov_main p {
	font-size: 14px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	text-align: justify;
}
.nov_main_txt {
	padding-left: 16px;
}
.nov_main_img, .nov_main_txt {
	display: table-cell;
	vertical-align: middle;
}

/*------------contacto------------------------*/

input[type="text"]{
	border: 1px solid #990000; padding: 6px;
	width: 97%;
}

textarea{
	border: 1px solid #990000; padding: 6px;
	width: 97%;
}
fieldset{
	border-style: solid;
	border-color: #990000;
}

.enviar{
	padding: 10px 20px;
	
	color: #990000;
	margin: auto;
	display: block;
}
.enviar:hover {
	background: #990000;
	color: #fff;
}

/* ------------Cookies------------- */
.cookie-container {
	position: fixed;
	bottom: 100%;
	left: 0;
	right: 0;
	background: #000000;
	color: #f5f6fa;
	padding: 0 32px;
	box-shadow: 0 -2px 16px #990000;
	transition: 400ms;
  }
  
  .cookie-container.active {
	bottom: 0;
  }
  
  .cookie-container a {
	color:  #990000;
  }

  .cookie-btn {
	background: #fff;
	border: solid;
	border-color: #990000;
	color: #990000;
	padding: 12px 48px;
	font-size: 18px;
	margin-bottom: 16px;
	border-radius: 8px;
	cursor: pointer;
	float: right;
  }
  .cookie-btn:hover {
	background: #990000;
	color: #fff;
  }