#principal{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid #000;
	margin: auto;
}

header{
	width: 900px;
	height: 100px;
	border: 0px solid #000;
}

#logo{
	width: 200px;
	height: 100px;
	border: 0px solid #000;
	float: left; font-family: sans-serif;
}

.titulo{
	margin-top: 15px;
	font-size: 30px;
}

.sub-titulo{
	font-size: 14px;
	margin-top: -20px;
}

.menu{
	width: 365px;
	height: 45px;
	border: 2px solid #000000;
	float: right;
	margin-top: 15px;
	background: #990000;
	padding-bottom: 5px;
}

.menu ul li{
	list-style: none;
	float: left;	
}

.menu ul li a{
	text-decoration: none;
	padding: 10px;
	border: 0px solid #ccc;
	color: #fff; 
}

.menu ul li a:hover{
	background: #fff;
	color: #990000;

}

#banner{
	margin-top: -5px;
	width: 900px;
	height: 250px;
}
.imagen-noticias {
	display:block;
	margin:auto;
}

#TituloSection{
	text-align: center;
}

#categorias{
	width: 900px;
	height: auto; overflow: hidden;
	border: 0px solid;
	margin-top: 15px;
}

.uno{
	width: 280px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px;
	text-align: center;
	color: #4682b4;
}

.parrafo{
	color: #707070;
	text-align: justify;
}
.dos{
	margin-left: 12px;
	margin-right: 12px;
}

.leer-mas{
	text-decoration: none;
	border: 1px solid #006699;
	padding: 10px 20px 10px 20px;
	margin-bottom: 10px;
}

.leer-mas:hover{
	background: #006699;
	color: #fff;
	transition: background 1s, color 1s;
}

#izq{
	width: 585px;
	height: auto; overflow: hidden;
	border: 1px solid #ccc;
	float: left;
	padding: 5px; color: #4682b4;
}

.img{
	margin-right: 7px;
	margin-bottom: 7px;
}

footer{
	width: 900px;
	height: 100px;
	
}

#url-footer{
	margin-top: 30px;
	float: left;
}

/* ------------Apartado noticias----------------- */
.linea-separacion {
	border-bottom:dotted 1px grey;
	width:100%;
}
.nov_main {
	margin-top: 15px;
	margin-bottom: 10px;
	font-size: 10px;
	display: table;
	text-decoration: none; 
}
.nov_main a {
	text-decoration: none;
}
.nov_main h3 {
	font-size: 16px;
	color: #990000;
	margin-bottom: 2px;
	line-height: 20px;
	font-weight: bold;
}
.nov_main h3:hover {
	color: #000000;
	text-decoration: underline;
}
.nov_main p {
	font-size: 14px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
}
.nov_main_txt {
	padding-left: 16px;
}
.nov_main_fec {
	font-size: 11px;
	color: rgb(191, 191, 191);
	font-weight: normal;
	margin-top: 5px;
}
.nov_main_img, .nov_main_txt {
	display: table-cell;
	vertical-align: middle;
}
.nov_main_img .img, .nov_main_img .foto {
	width: 170px;
	height: 96px;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}


/*------------contacto------------------------*/
#formulario{
	width: 432px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: left
}

#mapa{
	width: 432px;
	height: auto;
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 5px;
	float: right;
}

input[type="text"]{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

textarea{
	border: 1px solid #c1c1c1; padding: 6px;
	width: 97%;
}

.enviar{
	padding: 10px 20px;
	background: #006699;
	color: #fdfdfd;
	font-size: 16px;
}
#datos{
	margin-top: 30px;
}